<!-- <div class="icon-heart" (click)="changeColor()">
    <img src="../../../../assets/shopping-cart2.svg" *ngIf="color === false">
    <img src="../../../../assets/shopping-cart3.svg" *ngIf="color === true">
</div> -->
<h1>Finalizar Pedido</h1>
<div class="all">
    <div class="view">
        <table>
            <tr *ngFor="let obj of products">
                <td>{{ obj?.name }}</td><td>{{obj?.price | currency:'BRL':true:'1.2-2'}} </td>
            </tr>
        </table>
    </div>
    <div class="total">
        <h3>Valor total: {{valor | currency:'BRL':true:'1.2-2' }}</h3>
    </div>
    <div class="button">
            <div class="button-buy">
                <button type="button" class="btn btn-success x" (click)="getValidation()" data-toggle="modal" data-target="#exampleModal"  *ngIf="user === undefined">Finalizar</button>
                <button type="button" class="btn btn-success x" (click)="getValidation()" data-toggle="modal" data-target="#exampleModal"  *ngIf="user" routerLink="/pedidos">Finalizar</button>
            </div> 
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                  </button> -->
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isOpenLogin">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                          <form class="px-4 py-3">
                                <div class="form-group">
                                  <label for="exampleDropdownFormEmail1">Email address</label>
                                  <input type="email" [(ngModel)]="validation.email" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                  <label for="exampleDropdownFormPassword1">Password</label>
                                  <input type="password" [(ngModel)]="validation.password" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label" for="dropdownCheck">
                                      Remember me
                                    </label>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary" (click)="validationInform()" *ngIf="user === undefined">Sign in</button>
                                <!-- <h5 *ngIf="user">Bem Vindo {{client?.fullName | firstNamePipe }}! </h5> -->
                                <button type="submit" class="btn btn-primary" (click)="validationInform()" *ngIf="user">Usuario Autenticado</button>
                              </form>
                              <div class="dropdown-divider"></div>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="user === undefined"></button>
                              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="user"></button> -->
                              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
                          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <!  <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div> -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                      </div>
                    </div>
                  </div>            
    </div>  
</div>

<!-- <div class="modal" tabindex="-1" role="dialog" *ngIf="isOpenLogin === true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> -->
