/* .icon-heart{
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    padding: 4px;
}


img{
    width: 80%;
    margin-left: 2px;
} */

.all{
    display: grid;
}

.view{
    float: left;
}
.total{
    margin-top: 15px;
}

.button{
    float: right;
    margin-top: 15px;
}

.x {
    width: 260px;
    height: 58px;
}

tr{
    border:  1px solid black;
}

td{
    border:  1px solid black;
}