<nav class="navbar navbar-light nav-color">
  <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departamentos</a>
        <div class="dropdown-menu">
          <!-- <a class="dropdown-item" routerLink="/catalogo" (click)="getCategory(productsArray,'lampada-led')">Lâmpadas de LED</a> -->
          <a class="dropdown-item" routerLink="/catalogo" (click)="getCategory('lampada-led')" *ngIf="productsArray">Lâmpadas de LED</a>
          <a class="dropdown-item" routerLink="/catalogo">Lâmpadas Fluroscentes</a>
          <a class="dropdown-item" routerLink="/catalogo">Lâmpadas Tubulares</a>
          <a class="dropdown-item" routerLink="/catalogo">Lâmpadas de Filamento</a>
          <a class="dropdown-item" routerLink="/catalogo">Lâmpadas Halógenas</a>
        </div>
      </li>
    </ul>

    <img class="logo" src="./../../assets/zsl.jpg" routerLink="">

  <form class="form-inline my-2 my-lg-0 barra-pesquisa">
    <input class="form-control mr-sm-2 barra" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-primary button-search" type="submit">Pesquisar</button>
  </form>
  <app-icon-buttons></app-icon-buttons>

</nav>