<footer>
    <div class="footer">
        <div class="midias">
            <!-- <h2>Conheça novas mídias digitais</h2> -->
            <h3>MÍDIAS DIGITAIS</h3>
            <!-- <img src="../../assets/heart.svg" style="width: 5%; margin: 10px;"> -->
            <ul class="digital">
                <li>
                    <img src="../../assets/facebook.svg" style="width:5%; margin: 10px;">
                </li>
                <li>
                    <img src="../../assets/youtube-logotype.png" style="width: 5%; margin: 10px;">
                </li>
                <li>
                    <img src="../../assets/instagram.png" style="width: 5%; margin: 10px;">
                </li>
            </ul>
        </div>
        <div class="contact">
            <!-- <p>B2W - Companhia Digital / CNPJ: 00.776.574/0006-60 / Inscrição Estadual: 492.513.778.117 / Endereço Rua Sacadura Cabral, 102 - Rio de Janeiro, RJ - 20081-902 / atendimento.sub@submarino.com.br</p> -->
            <p>B2W - Companhia Digital / Inscrição Estadual: 492.513.778.117 / Endereço Rua Santa Luzia, 83 - São Mateus - São Paulo - SP / atendimento.sub@zsl.com.br</p>
        </div>
    </div>
</footer>
