.footer{
    width: 100%;
    height: 310px;
    background-color:rgb(234, 234, 234);
    padding: 10px;
}

.midias {
    /* border: 1px solid grey; */
    margin: 20px;
    text-align: center;
}

.contact{
    /* border: 1px solid grey; */
    margin: 20px; 
    margin-top: 45px;
    font-size: 13px;
    text-align: center;
}

ul{
    list-style-type: none;
    position: relative;
    right: 20px;
}
li{
    display: inline;
}