<!-- <app-header></app-header> -->
<!-- <app-offerts></app-offerts> -->
<!-- <app-view-product></app-view-product> -->
<!-- <app-view-product></app-view-product> -->

<!-- <div class='carrousel'>
    <ul>
        <li><app-view-product></app-view-product></li>
        <li><app-view-product></app-view-product></li>
        <li><app-view-product></app-view-product></li>
        <li><app-view-product></app-view-product></li>
    </ul>
</div> -->

<!-- 
<div class="container">
    <router-outlet></router-outlet>
</div>  -->
 

<!-- <app-my-account></app-my-account> -->