<div>
    <button>Meu Carrinho <img src="../../../assets/shopping-cart.svg" style="width:20%"></button>
    <button>Lista de Desejos <img src="../../../assets/heart.svg" style="width:20%"></button>
    <div class="btn-group">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Entrar
                <img src="../../../assets/user.svg" style="width:20%">
            </button>
            <!-- <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Action</button>
            </div> -->
            <app-button-login></app-button-login>

    </div>
</div>

