button {
    color: #0562DC;
    margin: 5px;
    font-size: 12px;
    border: none;
    background-color: unset;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    width: 128px;
}