<div>
    <div class="area-product">
        <img src="../../../assets/zsl.jpg">
        <div class="title title-1">
            <span>
                Box - Edgar Allan Poe - Histórias Extraordinárias - 3 Volumes - Acompanha Pôster
            </span>
        </div>

        <div class="title title-2">
            <span>
                R$ 29,90
            </span>
        </div>

        <div class="title">
            <span>
                10x de R$ 225,89 sem juros
            </span>
        </div>
    </div>
</div>
