<!-- <div *ngIf="products === undefined">
    <div class="area-product">
            <app-icon-favorite class="icon-favorite"></app-icon-favorite>
            <app-icon-buy class="icon-buy"></app-icon-buy>
        <img src="../../../assets/zsl.jpg">
        <div class="title title-1">
            <span>
                Box - Edgar Allan Poe - Histórias Extraordinárias - 3 Volumes - Acompanha Pôster
            </span>
        </div>

        <div class="title title-2">
            <span>
                R$ 29,90
            </span>
        </div>
 
        <div class="title">
            <span>
                10x de R$ 225,89 sem juros
            </span>
        </div>
    </div>
</div> -->

<div class='carrousel' *ngIf="products">
    <ul>
        <li *ngFor="let obj of products">
            <div class="buttons">
                    <app-icon-favorite class="icon-favorite over" (click)="getFavorites(obj)" *ngIf="isFavorite"></app-icon-favorite>
                    <app-icon-buy class="icon-buy over" (click)="getShopping(obj)" *ngIf="isFavorite"></app-icon-buy>                
            </div>
               
            <div class="area-product" (click)="getView(obj)" routerLink="/detalhe">
                <!-- <app-icon-favorite class="icon-favorite over" (click)="getFavorites(obj)" *ngIf="isFavorite"></app-icon-favorite>
                <app-icon-buy class="icon-buy over" (click)="getShopping(obj)"></app-icon-buy> -->
                <img src="{{obj?.imagePath}}">
                <div class="title title-1">
                    <span>
                        {{obj?.description | smallDescPipe}}
                    </span>
                </div>
        
                <div class="title title-2">
                    <span>
                        {{obj?.price | currency:'BRL':true:'1.2-2' }}
                    </span>
                </div>
        
                <div class="title">
                    <span>
                        10x de R$ 225,89 sem juros
                    </span>
                </div>
                </div>
            <!-- </div> -->
        </li>
    </ul>
</div> 