<div *ngIf="products === undefined">
    <div class="area-product">
            <app-icon-favorite class="icon-favorite"></app-icon-favorite>
        <img src="../../../assets/zsl.jpg">
        <div class="title title-1">
            <span>
                Box - Edgar Allan Poe - Histórias Extraordinárias - 3 Volumes - Acompanha Pôster
            </span>
        </div>

        <div class="title title-2">
            <span>
                R$ 29,90
            </span>
        </div>

        <div class="title">
            <span>
                10x de R$ 225,89 sem juros
            </span>
        </div>
    </div>
</div>

<div class='carrousel' *ngIf="products">
    <ul>
        <li *ngFor="let obj of products">
            <div class="area-product">
                <app-icon-favorite class="icon-favorite" (click)="getFavorites(obj)" *ngIf="isFavorite"></app-icon-favorite>
                <img src="{{obj?.imagePath}}">
                <div class="title title-1">
                    <span>
                        {{obj?.description | smallDescPipe}}
                    </span>
                </div>
        
                <div class="title title-2">
                    <span>
                        {{obj?.price}}
                    </span>
                </div>
        
                <div class="title">
                    <span>
                        10x de R$ 225,89 sem juros
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div> 
        