<app-offerts></app-offerts>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class='carrousel'>
          <ul> 
              <li><app-view-product [products]="products" [isFavorite]="isFavorite"></app-view-product></li>
          </ul>
      </div> 
    </div>
    <div class="carousel-item">
      <div class='carrousel'>
          <ul>
              <li><app-view-product [products]="products" [isFavorite]="isFavorite"></app-view-product></li>
          </ul>
      </div> 
    </div>
    <div class="carousel-item">
      <div class='carrousel'>
          <ul>
              <li><app-view-product [products]="products" [isFavorite]="isFavorite"></app-view-product></li>
          </ul>
      </div> 
    </div>
  </div>
</div>

