<app-offerts></app-offerts>
<!-- 
<div class='carrousel'>
    <ul>
        <li><app-view-product></app-view-product></li>
        <li><app-view-product></app-view-product></li>
        <li><app-view-product></app-view-product></li>
        <li><app-view-product></app-view-product></li>
    </ul>
</div>  -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class='carrousel'>
            <ul>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
            </ul>
        </div> 
      </div>
      <div class="carousel-item">
        <div class='carrousel'>
            <ul>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
            </ul>
        </div> 
      </div>
      <div class="carousel-item">
        <div class='carrousel'>
            <ul>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
                <li><app-view-product></app-view-product></li>
            </ul>
        </div> 
      </div>
    </div>
  </div>
